@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/font/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'gumela';
  src: url('./assets/font/Gumela.woff');
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  font-family: 'Ubuntu'!important;
}
